body {
background-color: black;    
}
#Header {
color: white;   
text-align: center;
font-size: 60px;
text-decoration:underline; 
}
#FirstChapter{
color: white;  
}
#Headine1{
    color: white;  
    font-size: 30px; 
    margin-top: 7.5rem; 
    text-decoration: underline;
}
#Datainput1{
color:white;    
background-color: transparent;
border: 2px solid white; 
width: 4rem;
height: 2rem;
margin-left: 0.5rem;   
}
#Datainput2{
    color:white;    
    background-color: transparent;
    border: 2px solid white; 
    width: 4rem;
    height: 2rem; 
    margin-left: 2rem;
}
#Nstberechnen{
color:white;    
background-color: transparent;
border: 2px solid white;
height: 2.4rem;
width: 11rem;
font-size: 15px;
margin-left: 5rem;
transition: 0.7s;    
}
#Nstberechnen:hover{
cursor: pointer;
background-color: #323232 ;    
}
#Nullestelle{
display: none;    
color:white;
font-size: 22px;
margin-left: 3.5rem;
  
}
#Nullestellevis{   
    color:white;
    font-size: 22px;
    margin-left: 3rem;   
    }
#Header2{
color: white;
font-size:30px;
margin-top: 25rem;    
}
#lfinfo{
display: none;
color: white;
font-size: 22px;
margin-left: 2.5rem;    
}
#Plusfunction{
text-align: center;    
color:white;
background-color: transparent;
border: 2px solid white;
font-size: 17px;
margin-left: 0.2rem;
border-radius: 50%;
transition: 0.7s;    
}
#Plusfunction:hover{
cursor: pointer;
background-color: #323232 ;    
}
#Datainput3{
display:none;    
color:white;    
background-color: transparent;
border: 2px solid white; 
width: 4rem;
height: 2rem;
margin-left: 0.5rem;
margin-top: 1.2rem;   
}
#Datainput4{
display:none;    
color:white;    
background-color: transparent;
border: 2px solid white; 
width: 4rem;
height: 2rem;
margin-left: 2rem;
margin-top: 1.2rem;   
}
#NstberechnenØ{
display: none;    
color:white;    
background-color: transparent;
border: 2px solid white;
height: 2.4rem;
width: 11rem;
font-size: 15px;
margin-left: 6.75rem;
transition: 0.7s;    
}
#NstberechnenØ:hover{
cursor: pointer;
background-color: #323232 ;    
}
#NullstelleØ{
display: none;    
color:white;
font-size: 22px;
margin-left: 3.5rem;    
}
#lfinfoØ{
display: none;
color: white;
font-size: 22px;
margin-left: 2.5rem;    
}
#Scnittpunktausrechnen{
display: none;    
color: white;
background-color: transparent;
border: 2px solid white;
height: 2.4rem;
width: 11rem;
font-size: 15px;
margin-top: 1rem;
text-align: center;
margin-left: 41%;
transition: 0.7s;    
}
#Scnittpunktausrechnen:hover{
cursor: pointer;
background-color: #323232 ;    
}
#Schnittpunkt{
text-align: center;
color: white;
font-size: 22px;
margin-top: 2rem;    
}    
